* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projectImg0 {
  width: 100%;
  height: 100%;
  background-image: url(./assets/ShareBookLogo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.projectImg1 {
  width: 100%;
  height: 100%;
  background-image: url(./assets/DailyTodo.jpg);
  background-size: cover;

  background-repeat: no-repeat;
}
.projectImg2 {
  width: 100%;
  height: 100%;
  background-image: url(./assets/ResumeBuilder.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.projectImg3 {
  width: 100%;
  height: 100%;
  background-image: url(./assets/Portfolio.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#root {
  width: 100%;
  overflow: hidden;
}
#image {
  background-image: url(https://media.licdn.com/dms/image/v2/D5603AQGtM9w1KACu8g/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1710409769086?e=2147483647&v=beta&t=e73duhps-ssVV5xfgEkC6k79EtPKfMYouz2IXR0mvTU);
  background-position: top;
  background-size: contain;
}
